#map {
    margin-top: 61px;
    margin-bottom: 80px;
    padding-top: 61px;
    height: 536px;
    /* position: absolute;
    top: 61px;  */
}

.toolBar { 
    position: absolute; 
    right: 12px; 
    top: 60px; 
    text-align: center; 
    background: #FFF; 
    z-index: 1000; 
    border-radius: 5px; 
}
